name: Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Bump version
        run: npm version patch --no-git-tag-version

      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Deprecate versions < 2.0.0
        run: npm deprecate "@ana.espejo/meu-teste-npm@<2.0.0" "Deprecated. Support until v23.x.x."
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}